<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h3>{{ title }}</h3>
    <h4>selamat datang {{ request.user }}</h4>

    <a href="{% url 'manajemen_cuti:add_cuti' %}">Ajukan Cuti</a>
    <table border="1">
        <thead>
            <th>No</th>
            <th>karyawan</th>
            <th>jenis cuti</th>
            <th>tgl permohonan</th>
            <th>tgl mulai</th>
            <th>tgl selesai</th>
            <th>status</th>
            <th>alasan</th>
            <th>Sisa Cuti</th>
        </thead>
        <tbody>
            
            {% for c in cutis  %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ c.karyawan }}</td>
                <td>{{ c.jenis_cuti }}</td>
                <td>{{ c.tgl_permohonan }}</td>
                <td>{{ c.tgl_mulai }}</td>
                <td>{{ c.tgl_selesai }}</td>
                <td>
                    
                    {% if c.status == 'pending' and user.is_staff %}
                        <a href="{% url 'manajemen_cuti:approve_cuti' c.id %}">Setujui </a>|
                        <a href="{% url 'manajemen_cuti:reject_cuti' c.id %}">Tolak</a>
                    {% elif c.status == 'disetujui' and user.is_staff %}
                        <a href="{% url 'manajemen_cuti:cancel_cuti' c.id %}">Batalkan</a>
                    {% else %}
                        {{ c.status }}
                    {% endif %}
                    
                    <!-- {% if c.status == 'disetujui' and user.is_staff %}
                        <a href="{% url 'manajemen_cuti:cancel_cuti' c.id %}">Batalkan</a>
                    {% endif %} -->
                        
                <td>{{ c.alasan }}</td>
                <td> {{ c.sisa_cuti }}</td>
            </tr>
                
            {% endfor %}
                
        </tbody>
    </table>
    <a href="{% url 'manajemen_cuti:logout' %}">logout</a>
</body>
</html>